@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
}

img{
    width: 100%;
}

svg{
    width: 100%;
}

/* Hide the default spin buttons for number input */
input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"] {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield; 
        }